@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://use.typekit.net/jdq4dbn.css");

$font-family-sans-serif: "Lato", sans-serif;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 300;

//$input-font-size-lg: $font-size-base * 2;
$font-size-base: 1rem;
