@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;700');

$font-family-sans-serif: "Futura", "Jost", sans-serif;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 200;

//$input-font-size-lg: $font-size-base * 2;
$font-size-base: 1rem;
